# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
Osiris-pwm
data/termsAccepted.txt
data/autoCompletion.txt
data/keyShown.txt
data/masterKey.txt
data/DATA.txt
data/DATA0
data/DATA01
data/DATA012
data/DATA0123
data/DATA01234
